html, body {
margin: 0px;
padding: 0px;
}

#container {
margin-top: 20px;
margin-bottom: 20px;
max-width: 1000px;
margin-left: auto;
margin-right: auto;
padding: 10px;
/*border: 1px solid #dddddd;*/
box-shadow: 0px 0px 5px #888888;
text-align:left;
/*background: #F8F9F9;*/
}


#portrait {
float: left;
margin: 10px;
background: #aaaaaa;
box-shadow: 5px 5px 5px #aaaaaa;
/*border: 1px solid #444444;*/
}

#heading {
font-weight: bold;
font-size: 1.6em;
}

#hylogo {
float: right;
}

#contact {
float: left;
padding: 5px;
/*background: #ffffff;*/
} 

#logos {
margin: 10px;
margin-left: auto;
margin-right: auto;
text-align:center;
}

#section_flush_right{float: right; width: 230px; margin: 0 15 0 0;}


.wrap{
    display:inline-block;
    position:relative;
    cursor:pointer;
}
.wrap p{
    position:absolute;
    opacity:0;
    top:50%;
    left:-8%;
    padding:5px;
    text-align:center;
    width:113%;
    font-size:15px;
    line-height:20px;
    margin-top:-10px;
    z-index:3;
    background:rgba(255,255,255, 0.7);
    transition:0.001s;
}

.wrap img {
    display:block;
    width:55px;
    height:55px;
    margin:15px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #083685;
  overflow: hidden;
  width: 140%;
  height: 0;
}

.wrap:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: black;
  font-size: 18px;
  font-style: bold;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.wrap:hover p {
    opacity :1;
}


@media screen and (max-width:500px) {
    #container img {
      max-width: 100%;
    }
}
#header {
overflow: hidden;
font-size: 1em;
}
div.pub_nav {
	text-align:left;
}
.content {
clear: both;
/*background: #dddddd;*/
margin-top: 20px;
margin-bottom: 50px;
text-align:left;
line-height:160%;
}

.content > h2 {
margin-bottom: 10px;
color: #000000;
border-bottom: 1px solid #aaaaaa;
}
 
#about > p {
margin-bottom: 0.5em;
text-indent: 1em;
}

#pub_table td {
	vertical-align:top;
}

td.pub_sep {	
	text-align:left;
	height: 50px;
	line-height: 50px;
}
td.pub_year {
	color: navy;
	vertical-align:top;
	width: 100px;
  text-align:left;
  font-weight:bold;	
  font-size: large;
	/*line-height: 14px;*/
}
td.pub_conf {
	color: maroon;
	vertical-align:top;
	width: 100px;
  text-align:left;
  font-weight:bold;	
	/*line-height: 14px;*/
}
span.pub_title {
	font-weight:bold;	
}
span.pub_authors {
	font-style:italic;
}
img.pub_icon_pdf {
  margin-left:5px;
  max-width: 100%;
}
.publication {
margin-bottom: 0.8em;
}

.publication .item a, .publication a:visited {
margin-left: 1em;
text-decoration: none; 
color: #4577d4;
font-style:normal;
}

.publication .authors {
font-size: 0.9em;
margin-left: 1em;
}

.course {
margin-bottom: 0.8em;
}

.course .role {
font-size: 0.9em;
font-style: italic;
margin-left: 1em;
}


.degree {
margin-bottom: 0.8em;
}

.degree .school {
font-size: 0.9em;
margin-left: 1em;
}

#footer {
text-size: 0.5em;
text-align: center;
margin-top: 100px;
}

p {
padding: 0px;
margin: 2px;
/*background: #777777;*/
}


a:link, a:visited {
color: maroon;
font-weight:500;
font-style:italic;
text-decoration: underline;
}


a:hover {
color: navy;
font-weight:bold;
text-decoration: underline;
}


.miscitem {
margin-bottom: 0.8em;
}

.miscitem .event {
font-size: 0.9em;
margin-left: 1em;
}

